<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% var notFound = false;
        if (message === "Not Found") {
            notFound = true;
        %>
        WARS: Page not found
        <% }  else { %>
        Whoops!
        <% } %>
    </title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="stylesheets/global.css" type="text/css" /> </head>

<body class="mdl-color--grey-50">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('nav', {includeMenu: true}); %>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell--12-col">
                    <h4><%= error.status %> <%= message %></h4>
                    <p>
                        <% if (notFound) { %>
                        The page you're trying to go to doesn't exist.
                        <% } else {%>
                        An unknown error occurred while processing your request.
                    <% }%>
                        Instead:
                    <ul>
                        <li><a href="/">Return to homepage</a></li>
                    </ul>
                    <br />If you keep getting this error, please contact support for help.
                    </p>
                    <pre><%= error.stack %></pre>
                </div>
            </div>

        </div>
    </main>
    <footer> <a href="https://docs.google.com/forms/d/1W2IYYH-SRWF5gKdhqbj2fdIivSLQyHm5fY-3UcNabY0/viewform" target="_blank">Send feedback</a> <a id="feedback-form-link" href="#">Send feedback</a> </footer>
</div>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>


