doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/global.css')
    link(rel="stylesheet", href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body(class="mdl-color--grey-50")
    include nav.pug
    script(src="https://code.getmdl.io/1.1.3/material.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")