<header class="mdl-layout__header">
    <div class="mdl-layout__header-row"> <span class="mdl-layout-title">WA Robotics Scout</span> </div>
</header>
<div class="mdl-layout__drawer"> <span class="mdl-layout-title">WA Robotics Scout</span>
    <nav class="mdl-navigation"> <a class="mdl-navigation__link" href="/">My matches</a> <a class="mdl-navigation__link" href="/search">Team search</a> <a class="mdl-navigation__link" href="/scout">Scouting form</a> </nav>
</div>
