html > body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif!important;
}

.match-info-card.mdl-card {
    width: 95%;
    min-height: auto;
    margin: 5px !important;
}

.match-info-card.blue-alliance {
    background-color: #2196F3;
}

.match-info-card.red-alliance {
    background-color: #F44336;
}

.blue-alliance-text {
    color: #2196F3;
}

.red-alliance-text {
    color: #F44336;
}

.match-info-card.match-done {
    background-color: #BDBDBD;
}

.match-info-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.match-info-card > .mdl-card__title {
    align-items: flex-start;
    padding-bottom: 8px;
}

.match-info-card > .mdl-card__title > h4 {
    margin-top: 0;
}

.match-info-card > .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.match-info-card > .mdl-card__title,
.match-info-card > .mdl-card__actions,
.match-info-card > .mdl-card__actions > .mdl-button,
.match-info-card > .mdl-card__supporting-text {
    color: #fff;
}

.match-info-card > .mdl-card__supporting-text {
    font-size: 15px;
    padding-bottom: auto;
}

.match-info-card > .mdl-card__title > h4,
.mdl-cell--12-col > h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.match-info-card > .mdl-card__actions > .mdl-button {
    min-width: 44px;
}

.results {
    font-size: 15px !important;
}

.match-info-card > .mdl-card__actions.mdl-card--border {
    border-top: 1px solid rgba(255, 255, 255, .1);
}


/* Adjust padding on cards to make use of more space on small screens */

@media (max-width: 767px) {
    .match-info-card > .mdl-card__title {
        margin-bottom: 4px;
    }
    .match-info-card > .mdl-card__title,
    .match-info-card > .mdl-card__supporting-text {
        padding: 8px;
    }
    .match-info-card > .mdl-card__actions {
        padding-left: 0;
    }
    .match-info-card > .mdl-card__actions > .mdl-button {
        padding-left: 8px;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
}

.spinner-container {
    position: relative;
}

tr > td.mdl-data-table__cell--non-numeric:first-child {
    padding-left: 12px;
    padding-right: 9px;
    font-weight: bold;
    text-align: right;
}

tr > td.mdl-data-table__cell--non-numeric:last-child {
    padding-left: 9px;
    padding-right: 12px;
}

i {
    vertical-align: middle;
}

.team-info-table-container.mdl-cell--2-col-desktop {
    margin-right: 5px;
    min-width: 285px;
}

.hidden {
    display: none;
}

.error {
    color: #dd4b39;
}

table.team-info-table > tbody > tr > td {
    white-space: pre-line;
    min-width: 135px;
}

table.team-info-table {
    max-width: 100%;
}

#match-info-data-loading.mdl-spinner {
    margin-left: 45% !important;
    margin-top: 5px;
}
#spinner-container {
    position: fixed;
    z-index: 1000;
    top:50%;
    left:50%;
    height:100%;
    width:100%;
}

#viewing-info > div {
    font-weight: bold;
}